<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<%= link_to 'New Article', new_article_path, class:"btn btn-outline-primary" %>
<br/>
<br/>

<table class="table table-bordered table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">String</th>
      <th scope="col">Description</th>
      <th scope="col">Text</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.string %></td>
        <td><%= article.description %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article, class:"btn btn-outline-success"  %></td>
        <td><%= link_to 'Edit', edit_article_path(article), class:"btn btn-outline-primary"  %></td>
        <td><%= link_to 'Destroy', article,class:"btn btn-outline-danger" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


