<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%= stylesheet_link_tag 'Sign', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= link_to 'BackHome', root_path, class:"fadeIn fourth" %>

  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="wrapper fadeInDown">
    <br/>
    <div id="formContent">
      <br/>
      <div class="fadeIn first">
        <%= image_tag '1.jpg', id:"icon", alt:"User Icon"%>
      </div>
      <br/>
      <form>
        <%= f.email_field :email, type:"text", class:"fadeIn second", placeholder:"login"%>
        <%= f.password_field :password, type:"password", class:"fadeIn second", placeholder:"Password"%>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= f.submit "Log in", class:"fadeIn fourth"%>
      </form>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
