<html>
<head>
  <title>CSS Gallery</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
  <%= stylesheet_link_tag "Portfolio" %>
  <%= javascript_include_tag "Modal" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <%= javascript_include_tag "bootstrap" %>

</head>
<body>
  <h1>TravelWise Gallery</h1>
  <div class="container-all">
    <% @images.each do |image| %>
        <div class="container">
           <a href="#"><%=  image_tag(image.picture.url) if image.picture?%></a>
           <span class="title"><%= image.name %> </span>
           <span class="text"><%= image.description %></span>
      </div>
    <%end%>
  </div>
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <%if current_user%>
      <%= link_to 'Back', home_admin_path, class:'btn btn-light'%>
    <%else%>
      <%= link_to 'Back', root_path, class:'btn btn-light'%>
    <%end%>
    <!-- /.container -->
  </footer>
</body>

</html>
